<h1><%= @the_director.name %></h1>

<p><strong>Date of Birth:</strong> <%= @the_director.dob %></p>
<p><strong>Bio:</strong> <%= @the_director.bio %></p>
<p><strong>Image:</strong> <%= @the_director.image %></p>

<h2>Movies by <%= @the_director.name %></h2>
<% @the_director.movies.each do |movie| %>
  <div>
    <p><%= movie.title %></p>
    <a href="/movies/<%= movie.id %>">Show details</a>
  </div>
<% end %>

<h2>Update Director</h2>

<form action="/modify_director/<%= @the_director.id %>" method="post">
  <label for="name_field">Name</label>
  <input id="name_field" type="text" name="query_name" value="<%= @the_director.name %>">

  <label for="dob_field">Dob</label>
  <input id="dob_field" type="text" name="query_dob" value="<%= @the_director.dob %>">

  <label for="bio_field">Bio</label>
  <input id="bio_field" type="text" name="query_bio" value="<%= @the_director.bio %>">

  <label for="image_field">Image</label>
  <input id="image_field" type="text" name="query_image" value="<%= @the_director.image %>">

  <button type="submit">Update director</button>
</form>
